<h1>Add Event</h1>
<form method="post">
    <label>Event: </label>
    <input name="name" type="text" />
    <br />
    <label>Description: </label>
    <input name="desc" type="text" /><br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" value="Add Event" />
</form>